* {
  //   margin: 0;
  //   padding: 0;
  // box-sizing: border-box;
  // -webkit-box-sizing: border-box;
  // -moz-box-sizing: border-box;
}
body {
  background: radial-gradient(#ffffff, #e5e5e5);
}
.logo {
  // color: var(--primary);
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
}
