.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #efefef;
  padding: 17px 0;
  border: 2px solid red;
}

// .navbar-toggler {
//   border: none;
// }
// .navbar-nav {
//   margin-left: 30px;
// }
// .nav-link {
//   padding: 0.1rem 0.1rem;
// }

// .navbar-light .navbar-nav .nav-link.active,
// .navbar-light .navbar-nav .show > .nav-link {
//   border-radius: 3px;
//   background-color: #fff;
// }
