.card {
  border-radius: 10px;
  border: none;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.04);
}
.card-title {
  color: #0a0a0a;
}
.card-body {
  padding: 25px 35px;
}
.card-body .btn {
  width: 100%;
  position: relative;
  padding: 15px 0;
  background-color: $primary;
}
.card-body .btn::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 100%;
  background: $gray-900;
  border-radius: 0 4px 4px 0;
}
