.tab-content > .active {
  background-color: #fff;
  border-radius: 0 10px 10px 10px;
  // border-left: 1px solid #d1d1d1;
  // border-bottom: 1px solid #d1d1d1;
  // border-right: 1px solid #d1d1d1;
}
.nav-tabs .nav-link.active {
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff #dee2e6;
  border-radius: 10px 10px 0 0;
}
