@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap");

h1 {
  color: $primary;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
}
